<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello!!!!!!</h1>
    <h2><div id="count_up">0</div></h2>
    <button type="button" onclick="countUp();" name="aaa" value="aaa">
        <font size="2">ここを</font><font size="5" color="#333399">押してね</font>
    </button>
    <script type="text/javascript" src="static/js/count.js"></script>

</body>
</html>


